<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%X{akkaAddress}] [%-5level] [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jolbox.bonecp" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="play" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="akka" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="application" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>